body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}

/***TEXT obecné***/
h1, h2, p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.7px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 28px;
}

h2 {
    margin-top: 60px;
    font-size: 16px;

}

p {
    margin: 15px auto;
    color: #8B8B8B;
    font-size: 16px;
    line-height: 1.5;
}

/***OKRAJ***/
.container {
    padding: 60px 30px;
}

/***HERO***/
.hero {
    display: flex;
    justify-content: center;
}

.intro p {
    margin-top: 30px;
}

/***ČÁRA***/
hr {
    width: 60px;
    border: 1px solid #407BFF;
    margin: 0 auto;
}

/***TLAČÍTKA***/
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    height: 40px;
    border-radius: 20px;
    padding: 10px 30px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.7px;
}

.one {
    width: 195px;
    background-color: #407BFF;
}

.two {
    width: 220px;
    background-color: #8B8B8B;
}

/***SLUŽBY***/
.services {

}

/***PANELY***/
.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.panel {
    height: 80px;
    padding: 0 20px;
    display: flex;
    gap: 30px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
    align-items: center;
}

.panel p {
    font-size: 13px;
    margin: 0;
}

@media screen and (min-width: 640px) {
    .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    h1 {
        margin-top: 30px;
    }

    p {
        margin-bottom: 40px;
    }

    .intro p {
        margin-bottom: 30px;
    }

    h2 {
        margin-top: 80px;
    }

    .box {
        flex-direction: row;
        gap: 20px;
    }

    .panel {
        flex-direction: column;
        height: 170px;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}
    