body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}

/***TEXT obecné***/
h1, h2, p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.7px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 28px;
}

h2 {
    margin-top: 60px;
    font-size: 16px;

}

p {
    margin: 15px auto;
    color: #8B8B8B;
    font-size: 16px;
    line-height: 1.4;
}

/***OKRAJ***/
.container {
    padding: 60px 30px;
}

/***HERO***/
.hero {
    display: flex;
    justify-content: center;
}

.intro p {
    margin: 30px;
}

/***ČÁRA***/
hr {
    width: 60px;
    border: 1px solid #407BFF;
    margin: 0 auto;
}

/***TLAČÍTKA***/
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    height: 40px;
    border-radius: 20px;
    padding: 10px 30px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.7px;
}

.one {
    width: 195px;
    background-color: #407BFF;
}

.two {
    width: 220px;
    background-color: #8B8B8B;
}


/***PANELY***/
.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.panel {
    height: 80px;
    padding: 0 20px;
    display: flex;
    gap: 30px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
    justify-content: flex-start;
    align-items: center;
}

.panel p {
    font-size: 13px;
    margin: 0;
}

@media screen and (min-width: 640px) {
    h1 {
        margin-top: 30px;
    }

    h2 {
        margin-top: 80px;
    }

    p {
        margin-bottom: 40px;
    }

    .intro p {
        margin-bottom: 30px;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .box {
        flex-direction: row;
        gap: 20px;
    }

    .panel {
        flex-direction: column;
        height: 170px;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (min-width:1100px) {
    /***OBECNÉ***/
    .container {
        max-width: 1040px;
        padding: 60px 0px;
        margin: 0 auto;
    }

    h2 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }

    /***TOP***/
    .hero img {
        width: 425px;
    }

    .top {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
    }

    .topcolumn {
        flex-basis: 50%;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    h1, p {
        text-align: left;
    }

    hr {
        margin: 0;
    }

    /***MIDDLE***/
    .middle {
        margin: 80px auto;
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        align-items: center;
    }

    .box {
        flex-basis: 550px;
    }

    .panel {
        height: 190px;
    }

    .panel p {
        text-align: center;
    }


    .services, .delegates {
        flex-basis: 430px;
    }

    /***BOTTOM***/
    .bottom {
        display: flex;
        gap: 60px;
        align-items: center;
    }
}